@page
@model MvcProductCore.Pages.Customers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Customer.NameStyle" /> @Html.DisplayNameFor(model => model.Customer.NameStyle)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Title" class="control-label"></label>
                <input asp-for="Customer.Title" class="form-control" />
                <span asp-validation-for="Customer.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.FirstName" class="control-label"></label>
                <input asp-for="Customer.FirstName" class="form-control" />
                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.MiddleName" class="control-label"></label>
                <input asp-for="Customer.MiddleName" class="form-control" />
                <span asp-validation-for="Customer.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.LastName" class="control-label"></label>
                <input asp-for="Customer.LastName" class="form-control" />
                <span asp-validation-for="Customer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Suffix" class="control-label"></label>
                <input asp-for="Customer.Suffix" class="form-control" />
                <span asp-validation-for="Customer.Suffix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CompanyName" class="control-label"></label>
                <input asp-for="Customer.CompanyName" class="form-control" />
                <span asp-validation-for="Customer.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.SalesPerson" class="control-label"></label>
                <input asp-for="Customer.SalesPerson" class="form-control" />
                <span asp-validation-for="Customer.SalesPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.EmailAddress" class="control-label"></label>
                <input asp-for="Customer.EmailAddress" class="form-control" />
                <span asp-validation-for="Customer.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Phone" class="control-label"></label>
                <input asp-for="Customer.Phone" class="form-control" />
                <span asp-validation-for="Customer.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.PasswordHash" class="control-label"></label>
                <input asp-for="Customer.PasswordHash" class="form-control" />
                <span asp-validation-for="Customer.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.PasswordSalt" class="control-label"></label>
                <input asp-for="Customer.PasswordSalt" class="form-control" />
                <span asp-validation-for="Customer.PasswordSalt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
